{%extends 'base.html'%}

{%block title%}
    {{super()}} - {{game.name}} - Tournament Summary
{%endblock%}

{%block head%}
    {{super()}}
    <script type="text/javascript">
        //Save some constants for the JS to use
        var DATA_URL = '{{data_url}}',
            GAME_INFO_URL = '{{game_info_url}}';
    </script>
    <script type="text/javascript" src="/static/js/tournament.js"></script>
{%endblock%}

{%block content%}
    <section class="flex_column" style="width: 100%; height: 100%;">
        <article id="progress_container" class="frame small_header">
            {{game.name}} - Tournament {{tournament_uuid}}
            (<a href="/tnf/game/{{game.id}}/">
                Return to game info
            </a>)
        </article>
        <article id="progress_container" class="frame">
            <span class="progress_outer">
                <span class="progress_inner">
                </span>
            </span>
        </article>
        <section class="flex_cell flex_row">
            <article class="flex_cell flex_column">
                <section class="frame small_header">
                    Scoreboard
                </section>
                <section style="min-height: 20px; display: none;" class="frame flex_row scoreboard_template">
                    <span>
                        <a class="team_edit" href="/set/in/javascript/">
                            <span class="icon_small icon_update" title="Edit Team"/>
                        </a>
                    </span>
                    <span class="flex_cell">
                        <span class="team_name">
                            Team name here
                        </span>
                        v<span class="team_version">99</span>
                    </span>
                    <span class="team_score">
                        99
                    </span>
                </section>
                <section id="scoreboard_container" class="frame flex_cell flex_column" style="overflow: auto;">
                    Loading...
                </section>
            </article>
            <article class="flex_cell flex_column">
                <section class="frame small_header">
                    Matches (Played <span id="matches_played">?</span> of <span id="matches_total">?</span>)
                </section>
                <section style="min-height: 20px; display: none;" class="flex_row frame match_template">
                    <span class="flex_cell">
                        <a class="team_1_edit" href="/set/in/javascript/">
                            <span class="icon_small icon_update" title="Edit Team"/>
                        </a>
                        <span class="team_1_name">
                            Team name here
                        </span>
                        v<span class="team_1_version">99</span>
                    </span>
                    <span>
                        vs.
                    </span>
                    <span class="flex_cell" style="text-align: right;">
                        <span class="team_2_name">
                            Team name here
                        </span>
                        v<span class="team_2_version">99</span>
                        <a class="team_2_edit" href="/set/in/javascript/">
                            <span class="icon_small icon_update" title="Edit Team"/>
                        </a>
                    </span>
                    <span>
                        <a href="/filled/in/later/" style="float: right;" class="match_link">
                            <span class="icon_small icon_play" title="Replay match"/>
                        </a>
                    </span>
                </section>
                <section id="match_container" class="frame flex_cell flex_column" style="overflow: auto;">
                    Loading...
                </section>
            </article>
        </section>
    </section>
{%endblock%}
