{%extends 'base.html'%}

{%block title%}
    GameOn - {{object_name}} List
{%endblock%}

{%block content%}
    <h3>{{object_name}} List:</h3>
    <table class="crud_table">
        <thead>
            <tr>
                {%for prop in props%}
                    <th>{{prop}}</th>
                {%endfor%}
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {%if objects%}
                {%for object in objects%}
                    <tr>
                        {%for prop in props%}
                            <td>{{object[prop]}}</td>
                        {%endfor%}
                        {%if object.can_write%}
                            <td>
                                <a href="../update/{{object.uuid}}/">
                                    <span class="icon_small icon_update"></span>
                                </a>
                            </td>
                            <td>
                                <a href="../delete/{{object.uuid}}/">
                                    <span class="icon_small icon_delete"></span>
                                </a>
                            </td>
                        {%else%}
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        {%endif%}
                    </tr>
                {%endfor%}
            {%else%}
                <tr>
                    <td colspan="{{props|length + 2}}">
                        No {{object_name}}s exist yet!
                    </td>
                </tr>
            {%endif%}
        </tbody>
    </table>
    Create a new {{object_name}} <a href="../create/">here</a>
{%endblock%}
