{%extends 'base.html'%}

{%block title%}
    GameOn - Tanks! - Setup
{%endblock%}

{%block content%}
    <h3>
        Play a game of {{game_name}}:
    </h3>
    <form method="post">
        <label for="team_1">Team 1:</label>
        <select id="team_1" name="team_1">
            {%if your_teams%}
                <optgroup label="Your Teams">
                    {%for team in your_teams%}
                        <option value="{{team.id}}">{{team.name}}</option>
                    {%endfor%}
                </optgroup>
            {%endif%}
            {%if other_teams%}
                <optgroup label="Other Teams">
                    {%for team in other_teams%}
                        <option value="{{team.id}}">{{team.name}}</option>
                    {%endfor%}
                </optgroup>
            {%endif%}
            {%if public_teams%}
                <optgroup label="Public Teams">
                    {%for team in public_teams%}
                        <option value="{{team.id}}">{{team.name}}</option>
                    {%endfor%}
                </optgroup>
            {%endif%}
        </select>
        <br/>

        <label for="team_2">Team 2:</label>
        <select id="team_2" name="team_2">
            {%if your_teams%}
                <optgroup label="Your Teams">
                    {%for team in your_teams%}
                        <option value="{{team.id}}">{{team.name}}</option>
                    {%endfor%}
                </optgroup>
            {%endif%}
            {%if other_teams%}
                <optgroup label="Other Teams">
                    {%for team in other_teams%}
                        <option value="{{team.id}}">{{team.name}}</option>
                    {%endfor%}
                </optgroup>
            {%endif%}
            {%if public_teams%}
                <optgroup label="Public Teams">
                    {%for team in public_teams%}
                        <option value="{{team.id}}">{{team.name}}</option>
                    {%endfor%}
                </optgroup>
            {%endif%}
        </select>
        <br/>

        <button type="submit">
            <span class="icon_large icon_play"></span>
        </button>
    </form>
{%endblock%}
