{%extends 'base.html'%}

{%block title%}
    {{super()}} - {{game.name}} - Setup Match
{%endblock%}

{%block content%}
    <div id="center_container">
        <span id="center_inner" class="">
            <section class="frame medium_header">
                Setup a match of {{game.name}}
            </section>
            <section class="frame">
                <form method="post">
                    <label for="team_file_1_uuid">Team 1:</label>
                    {%if team_sections%}
                        <select id="team_file_1_uuid" name="team_file_1_uuid">
                            {%for team_section in team_sections%}
                                {%if team_section['teams']%}
                                    <optgroup label="{{team_section.type}}">
                                        {%for team in team_section['teams']%}
                                            <option value="{{team.team_file_uuid}}">
                                                {{team.team_name}} v{{team.team_file_version}}
                                            </option>
                                        {%endfor%}
                                    </optgroup>
                                {%endif%}
                            {%endfor%}
                        </select>
                    {%else%}
                        There are no teams!
                    {%endif%}
                    <br/>

                    <label for="team_file_2_uuid">Team 2:</label>
                    {%if team_sections%}
                        <select id="team_file_2_uuid" name="team_file_2_uuid">
                            {%for team_section in team_sections%}
                                {%if team_section['teams']%}
                                    <optgroup label="{{team_section.type}}">
                                        {%for team in team_section['teams']%}
                                            <option value="{{team.team_file_uuid}}">
                                                {{team.team_name}} v{{team.team_file_version}}
                                            </option>
                                        {%endfor%}
                                    </optgroup>
                                {%endif%}
                            {%endfor%}
                        </select>
                    {%else%}
                        There are no teams!
                    {%endif%}
                    <br/>

                    <h4>
                        Caution! When using a public team,<br/>
                        others will be able to see your match<br/>
                        (even if it includes a non-public team)<br/>
                    </h4>

                    <button type="submit" style="font-size: 22px;">
                        <span class="icon_large icon_play"></span>
                        Play the Game!
                    </button>
                </form>
            </section>
            <section class="frame medium_header">
                <a href="/tnf/game/{{game.id}}/">
                    Return to game info
                </a>
            </section>
        </span>
    </div>

{%endblock%}
