{%extends 'base.html'%}

{%block head%}
    {{super()}}
    <script type="text/javascript">
        //Kickoff the load
        $(document).ready(function() {
            load_replay(
                '/tnf/match/json/{{match_uuid}}/',
                '/tnf/game/{{game.id}}/'
            );
        });
    </script>
{%endblock%}

{%block title%}
    {{super()}} - {{game.name}} - Match Replay
{%endblock%}

{%block content%}
    <article class="flex_column" style="height: 100%;">
        <section class="frame medium_header">
            {{game.name}} - Match {{match_id}}
            (<a href="/tnf/game/{{game.id}}/">
                Return to game info
            </a>)
        </section>
        {%include 'replay_match.html'%}
    </article>
{%endblock%}
