{%extends 'base.html'%}

{%block head%}
    {{super()}}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#submit').click(function() {
                //Check passwords match
                var p1 = $('#password').val(),
                    p2 = $('#password_confirm').val();
                if (p1 !== p2) {
                    alert('Passwords must match!');
                    return false;
                }
                //Otherwise, let the form submission happen as normal...
            });
        });
    </script>
{%endblock%}

{%block title%}
    {{super()}} - Create User
{%endblock%}

{%block content%}
    <div id="center_container">
        <span id="center_inner" class="frame">
            {%for msg in messages%}
                <div class="{{msg.class}}">
                    {{msg.text}}
                </div>
            {%endfor%}
            {%if show_form%}
                <form action='.' method="post">
                    <input
                        type="email"
                        name="email"
                        placeholder="Email"
                        value="{{email or ''}}"
                        autofocus><br/>
                    <input
                        type="text"
                        name="name"
                        placeholder="Name"
                        value="{{name or ''}}"><br/>
                    <input
                        type="password"
                        name="password"
                        id="password"
                        placeholder="Password"><br/>
                    <input
                        type="password"
                        id="password_confirm"
                        placeholder="Confirm Password"><br/>
                    <input
                        id="submit"
                        type="submit"
                        value="Create User">
                </form>
            {%endif%}
            <a href="/">Return to login</a>
        </span>
    </div>
{%endblock%}
