{%extends 'base.html'%}

{%block title%}
    {{super()}} - {{object_name}} Update - {{obj.uuid}}
{%endblock%}

{%block content%}
    <h3>{{object_name}} Edit:</h3>
    {%if validation_errors%}
        Validation errors:
        <ul class="error">
            {%for validation_error in validation_errors%}
                <li>{{validation_error}}</li>
            {%endfor%}
        </ul>
    {%endif%}
    <form method="post" enctype="multipart/form-data">
        {%include 'crud_form.html'%}
        <button type="submit">Save {{object_name}}</button>
    </form>
    <br/>
    <a href="../../retrieve/">
        Return to {{object_name}} list
    </a>
{%endblock%}
