{%extends 'base.html'%}

{%block title%}
    {{super()}} - {{game.name}} - Game Info
{%endblock%}

{%block content%}
    <section class="flex_container" style="width: 100%; height: 100%;">
        <section class="flex_row">
            <article id="game_container" class="flex_container" style="flex: 1;">
                <section class="frame small_header">
                    Game
                </section>
                <section class="flex_cell">
                    Game goes here
                </section>
            </article>
            <article id="tournaments_container" class="flex_container" style="flex: 1;">
                <section class="frame small_header">
                    Tournaments
                </section>
                <section class="flex_cell">
                    Tournaments goes here
                </section>
            </article>
        </section>
        <section class="flex_row">
            <article id="teams_container" class="flex_container" style="flex: 1;">
                <section class="frame small_header">
                    Teams
                </section>
                <section class="flex_cell">
                    Teams goes here
                </section>
            </article>
            <article id="matches_container" class="flex_container" style="flex: 1;">
                <section class="frame small_header">
                    Matches
                </section>
                <section class="frame flex_cell" style="overflow-y: scroll;">
                    {%if match_sections%}
                        {%for match_section in match_sections%}
                            {%if match_section['matches']%}
                                <h4>
                                    {{match_section.type}}:
                                </h4>
                                <ul>
                                    {%for match in match_section['matches']%}
                                        <li style="clear: both; text-align: center;">
                                            <a href="/tnf/game/replay/{{match.uuid}}/" style="float: right;">
                                                <span class="icon_small icon_play"/>
                                            </a>
                                            <span class="match_team">{{match.team_1}}</span>
                                            vs.
                                            <span class="match_team">{{match.team_2}}</span>
                                        </li>
                                    {%endfor%}
                                </ul>
                            {%endif%}
                        {%endfor%}
                    {%else%}
                        You have no matches...
                    {%endif%}
                </section>
                <section>
                    <a href="/tnf/game/setup/{{game_id}}/">
                        <span class="icon_small icon_create" title="Setup a match of {{game.name}}"></span>
                        Setup a match of {{game.name}}
                    </a>
                </section>
            </article>
        </section>
    </section>
{%endblock%}
