{%extends 'base.html'%}

{%block title%}
    {{super()}} - Dashboard
{%endblock%}

{%block content%}
    <section class="flex_container" style="width: 100%; height: 100%;">
        <section class="flex_row">
            <article id="games_container">
                <div class="frame small_header">
                    Games
                </div>
                <div class="flex_row" style="overflow-x: scroll;">
                    {%for game in games%}
                        <section class="frame">
                            <h3>{{game.name}}</h3>
                            {{game.description}}
                            <a href="/tnf/game/setup/{{game.id}}/">
                                <span
                                    class="icon_small icon_create"
                                    title="Setup a game of {{game.name}}"/>
                            </a>
                            <a href="/tnf/game/{{game.id}}/">
                                <span
                                    class="icon_small icon_retrieve"
                                    title="Review matches of {{game.name}}"/>
                            </a>
                        </section>
                    {%endfor%}
                </div>
            </article>
        </section>
        <section class="flex_row">
            <article id="players_container" class="flex_cell flex_container">
                <section class="frame small_header">
                    Your Teams
                </section>
                <section class="flex_cell" style="overflow-y: scroll;">
                    <ul>
                        {%if teams%}
                            {%for team in teams%}
                                <li style="clear: both;">
                                    <a href="/tnf/team/edit/{{team.uuid}}/" style="float: right;">
                                        <span class="icon_small icon_update" title="Edit {{team.name}}"/>
                                    </a>
                                    {{team.game}}: {{team.name}}
                                </li>
                            {%endfor%}
                        {%else%}
                            <li>
                                You don't have any Teams yet...
                            </li>
                        {%endif%}
                    </ul>
                </section>
                <section>
                    <a href="/tnf/team/create/">
                        <span class="icon_small icon_create" title="Create Team"></span>
                        Add a New Team
                    </a>
                </section>
            </article>
            <article id="matches_container" class="flex_cell flex_container">
                <section class="frame small_header">
                    Your Matches
                </section>
                <section class="flex_cell" style="overflow-y: scroll;">
                    <ul>
                        {%if matches%}
                            {%for match in matches%}
                                <li style="clear: both;">
                                    <a href="/tnf/game/replay/{{match.uuid}}/" style="float: right;">
                                        <span class="icon_small icon_play" title="Replay Match"/>
                                    </a>
                                    {{match.game}}: {{match.team_1}} <br/>
                                    vs. {{match.team_2}}
                                </li>
                            {%endfor%}
                        {%else%}
                            <li>
                                You don't have any Matches yet...
                            </li>
                        {%endif%}
                    </ul>
                </section>
                <section>
                    <span class="icon_small icon_create" title="Create Match"></span>
                    To play a match, goto the game page using the links above.
                </section>
            </article>
            <article id="tournaments_container" class="flex_cell">
                <div class="frame small_header">
                    Your Tournaments
                </div>
                Coming soon!
            </article>
        </section>

    <!--
    <h3>
        Teams
        <a href="/tnf/crud/team/retrieve/">
            <span class="icon_small icon_retrieve" title="Manage Teams"/>
        </a>
    </h3>
    -->
{%endblock%}
