{%extends 'base.html'%}

{%block title%}
    {{super()}} - Dashboard
{%endblock%}

{%block content%}
    <section class="flex_container">
        <section class="flex_row">
            <article id="games_container">
                <div class="frame small_header">
                    Games
                </div>
                <div class="flex_row" style="overflow-x: scroll;">
                    {%for game in games%}
                        <section class="frame">
                            <h3>{{game.name}}</h3>
                            {{game.description}}
                            <a href="/tnf/game/setup/{{game.id}}/">
                                <span
                                    class="icon_small icon_create"
                                    title="Setup a game of {{game.name}}">
                                </span>
                            </a>
                            <a href="/tnf/game/{{game.id}}/">
                                <span
                                    class="icon_small icon_retrieve"
                                    title="Review matches of {{game.name}}">
                                </span>
                            </a>
                        </section>
                    {%endfor%}
                </div>
            </article>
        </section>
        <section class="flex_row">
            <article id="players_container" class="flex_cell">
                Players go here
            </article>
            <article id="matches_container" class="flex_cell">
                Matches go here
            </article>
            <article id="tournaments_container" class="flex_cell">
                Tournaments go here
            </article>
        </section>

    <!--
    <h3>
        Teams
        <a href="/tnf/crud/team/retrieve/">
            <span class="icon_small icon_retrieve" title="Manage Teams"></span>
        </a>
    </h3>
    {%if teams%}
        <ul>
            {%for team in teams%}
                <li>{{team.name}}</li>
            {%endfor%}
        </ul>
    {%else%}
        You don't have any Teams yet!
        <a href="/tnf/crud/team/create/">
            <span class="icon_small icon_create" title="Create Team"></span>
        </a>
    {%endif%}
    -->
{%endblock%}
