{%extends 'base.html'%}

{%block title%}
    {{super()}} - Dashboard
{%endblock%}

{%block content%}
    <section class="flex_container" style="width: 100%; height: 100%;">
        <article id="games_container" class="flex_container flex_cell">
            <section class="frame small_header">
                Games
            </section>
            <section class="flex_row" style="overflow-x: scroll;">
                {%for game in games%}
                    <section class="flex_container">
                        <section class="frame small_header">
                            {{game.name}}
                        </section>
                        <section class="frame flex_cell">
                            {{game.description}}
                        </section>
                        <section class="frame">
                            <a href="/tnf/game/{{game.id}}/">
                                <span
                                    class="icon_small icon_retrieve"
                                    title="Review matches of {{game.name}}"></span>
                                Goto game details
                            </a>
                            <br/>
                            <a href="/tnf/game/setup/match/{{game.id}}/">
                                <span
                                    class="icon_small icon_create"
                                    title="Setup a match of {{game.name}}"></span>
                                Setup a match of {{game.name}}
                            </a>
                            <br/>
                            <a href="/tnf/game/setup/tournament/{{game.id}}/">
                                <span
                                    class="icon_small icon_create"
                                    title="Setup a tournament of {{game.name}}"></span>
                                Setup a tournament of {{game.name}}
                            </a>
                        </section>
                    </section>
                {%endfor%}
            </section>
        </article>
        <section class="flex_row">
            <article id="players_container" class="flex_cell flex_container">
                <section class="frame small_header">
                    Your Teams
                </section>
                <section class="flex_cell frame" style="overflow-y: scroll;">
                    <ul>
                        {%if teams%}
                            {%for team in teams%}
                                <li style="clear: both;">
                                    <a href="/tnf/team/edit/{{team.uuid}}/" style="float: right;">
                                        <span class="icon_small icon_update" title="Edit {{team.name}}"/>
                                    </a>
                                    {{team.game}}: {{team.name}}
                                </li>
                            {%endfor%}
                        {%else%}
                            <li>
                                You don't have any Teams yet...
                            </li>
                        {%endif%}
                    </ul>
                </section>
                <section>
                    <a href="/tnf/team/create/">
                        <span class="icon_small icon_create" title="Create Team"></span>
                        Add a New Team
                    </a>
                </section>
            </article>
            <article id="matches_container" class="flex_cell flex_container">
                <section class="frame small_header">
                    Your Matches
                </section>
                <section class="flex_cell frame" style="overflow-y: scroll;">
                    <ul>
                        {%if matches%}
                            {%for match in matches%}
                                <li style="clear: both;">
                                    <a href="/tnf/match/{{match.uuid}}/" style="float: right;">
                                        <span class="icon_small icon_play" title="Replay Match"/>
                                    </a>
                                    {{match.game}}: {{match.team_1}} <br/>
                                    vs. {{match.team_2}}
                                </li>
                            {%endfor%}
                        {%else%}
                            <li>
                                You don't have any Matches yet...
                            </li>
                        {%endif%}
                    </ul>
                </section>
                <section>
                    <span class="icon_small icon_create" title="Create Match"></span>
                    To play a match, goto the game page using the links above.
                </section>
            </article>
            <article id="tournaments_container" class="flex_cell flex_container">
                <section class="frame small_header">
                    Your Tournaments
                </section>
                <section class="flex_cell frame" style="overflow-y: scroll;">
                    <ul>
                        {%if tournaments%}
                            {%for tournament in tournaments%}
                                <li style="clear: both;">
                                    <a href="/tnf/tournament/{{tournament.uuid}}/" style="float: right;">
                                        <span class="icon_small icon_play" title="Tournament Results"/>
                                    </a>
                                    {{tournament.game}}
                                </li>
                            {%endfor%}
                        {%else%}
                            <li>
                                You don't have any Tournaments yet...
                            </li>
                        {%endif%}
                    </ul>
                </section>
                <section>
                    <span class="icon_small icon_create" title="Create Tournament"></span>
                    To create a tournament, goto the game page using the links above.
                </section>
            </article>
        </section>
    </section>
{%endblock%}
