{%extends 'base.html'%}

{%block title%}
    {{super()}} - {{team.name}} ({{game.name}}) - Edit
{%endblock%}

{%block head%}
    {{super()}}
    <script type="text/javascript" src="/static/js/lib/ace/ace.js"></script>
    <script type="text/javascript" src="/static/js/lib/ace/mode-python.js"></script>
    <script type="text/javascript" src="/static/js/lib/ace/theme-solarized_dark.js"></script>
    <script type="text/javascript">
        //Save some constants for the game to use
        var VERSIONS_URL = '{{versions_url}}',
            CODE_URL = '{{code_url}}',
            GAME_INFO_URL = '{{game_info_url}}';
    </script>
    <script type="text/javascript" src="/static/js/team_edit.js"></script>
{%endblock%}

{%block content%}
    <section class="flex_column" style="height: 100%;">
        <section class="frame small_header">
            {{team.name}}
            v<span id="current_version">?</span>
            <span id="read_only" style="display: none;">(readonly)</span>
            <span id="changed" style="display: none;">(changed)</span>
            - {{game.name}}
        </section>
        <section class="flex_cell flex_row" style="height: 100%;">
            <article class="flex_cell flex_column">
                <article id="editor" class="frame flex_cell"></article>
            </article>
            <article class="frame flex_cell">
                Run goes here...
            </article>
        </section>
        <article class="frame">
            <span style="margin-left: 15px;">
                <label for="versions">
                    Review old version:
                </label>
                <select id="versions">
                </select>
            </span>

            <span style="margin-left: 35px;">
                <button id="save" disabled="disabled">
                    Save (ctrl+s)
                </button>
            </span>

            <span style="margin-left: 35px;">
                <label for="opponent">
                    Opponent:
                </label>
                <select id="opponent">
                    <option value="uuid">
                        Team Name
                    </option>
                </select>

                <label for="max_ticks">
                    Max Ticks:
                </label>
                <input id="max_ticks" type="number" min="1000" max="10000" step="1000" value="1000"/>

                <button id="save_execute">
                    Save & Execute (F5)
                </button>
            </span>
        </article>
    </section>
{%endblock%}
