header {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 28px;
}

header .header_text {
    float: left;
    font-size: 24px;
    font-weight: bold;
}

header .header_user {
    float: right;
    margin-right: 15px;
}

header .icon_logout {
    margin-left: 10px;
}

#content {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 42px;
    bottom: 0px;
    overflow: hidden;
}

.frame {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 1px;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.flex_row {
    display: flex;
}

.flex_cell {
    flex: 1;
}

.small_header {
    font-size: 14pt;
    font-weight: bold;
}

.medium_header {
    font-size: 18pt;
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(128,128,255,0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(128,128,255,0.3);
}
