#center_container {
    text-align: center;
}

#center_inner {
    display: inline-block;
    position: relative;
    margin-top: 100px;
}

.error, .info {
    font-size: 16pt;
    font-weight: bold;
    margin: 2px 0px 10px 2px;
}

.error {
    color: #f66;
}

.info {
    color: #0a0;
}
