<link rel="stylesheet" type="text/css" href="{{static_url}}/replay.css" media="all" />
<script type="text/javascript" src="{{static_url}}/replay.js"></script>
<script type="text/javascript" src="{{static_url}}/replay_draw.js"></script>

<canvas id="field" width="1000" height="700" class="flex_cell">
</canvas>
<section class="flex_row">
    <section>
        {%include 'replay_winners.html'%}
        {%include 'replay_interval.html'%}
        {%include 'replay_time.html'%}
    </section>
    <section>
        {%set team_number=1%}
        {%include 'replay_teamstats.html'%}
    </section>
    <section>
        {%set team_number=2%}
        {%include 'replay_teamstats.html'%}
    </section>
</section>
<section>
    Icons are mostly from <a href="https://www.iconfinder.com/search/?q=iconset:cc_mono_icon_set">Wireframe mono icons</a> used under <a href="http://creativecommons.org/licenses/by-nc/3.0/">CC BY-NC 3.0</a>.
</section>

<article id="loading">
    <div id="loading_spinner"></div>
    <div id="loading_text">
        No match loaded!
    </div>
</article>
