<link rel="stylesheet" type="text/css" href="{{static_url}}/replay.css" media="all" />
<script type="text/javascript" src="{{static_url}}/replay.js"></script>
<script type="text/javascript" src="{{static_url}}/replay_draw.js"></script>

<section class="flex_cell flex_row">
    <section style="overflow-y: scroll; overflow-x: hidden;">
        <section class="setup flex_column">
            {%include 'replay_teams.html'%}
            {%include 'replay_winners.html'%}
            {%include 'replay_interval.html'%}
            {%include 'replay_time.html'%}
            {%set team_number=1%}
            {%include 'replay_teamstats.html'%}
            {%set team_number=2%}
            {%include 'replay_teamstats.html'%}
        </section>
    </section>
    <canvas id="field" width="1000" height="700" class="flex_cell frame">
    </canvas>
</section>
<section id="attribution">
    Icons are mostly from <a href="https://www.iconfinder.com/search/?q=iconset:cc_mono_icon_set">Wireframe mono icons</a> used under <a href="http://creativecommons.org/licenses/by-nc/3.0/">CC BY-NC 3.0</a>.
</section>
