#loading {
    background-color: rgba(200, 200, 200, 0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    text-align: center;
}

#loading_text {
}

#loading_spinner {
    background-image: url('loading.gif');
    background-repeat: no-repeat;
    background-position: 50%;
    height: 78px;
    margin-top: 20%;
}

#main {
    float: left;
}

#setup, #field {
    border: 1px solid black;
    float: left;
    height: 800px;
}

#setup {
    width: 300px;
}

#setup input {
    width: 98%;
}

#setup .teams, #setup .winners {
    display: inline-block;
    width: 100%;
    padding: 10px 0px;
    font-weight: bold;
    text-align: center;
}

#setup .winners span {
    font-size: 24px;
}

#winner_show, #winner_show span {
    display: none;
}

#setup .controls {
    display: inline-block;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
}

#field {
    width: 1000px;
}

.team_stats .team_health {
    margin-left: 10px;
    width: 210px;
    display: inline-block;
}

.team_stats .player_health {
    margin-left: 17px;
}


.pg_horz_outer {
    width: 100%;
    height: 20px;
    background-color: white;
    display: inline-block;
    border: 1px solid black;
}

.pg_horz_inner {
    left: 0px;
    width: 50%;
    height: 100%;
    background-color: red;
    display: inline-block;
}


.pg_vert_header {
    display: inline-block;
    text-align: center;
}

.pg_vert_outer {
    width: 20px;
    height: 100px;
    background-color: white;
    display: inline-block;
    border: 1px solid black;
    overflow: hidden;
}

.pg_vert_inner {
    top: 50px;
    width: 100%;
    height: 100%;
    background-color: red;
    display: inline-block;
    position: relative;
}
