#loading {
    background-color: rgba(200, 200, 200, 0.5);
    background-image: url('loading.gif');
    background-repeat: no-repeat;
    background-position: 50%;
    position: fixed;
    height: 100%;
    width: 100%;
}

#setup, #field {
    border: 1px solid black;
    float: left;
    height: 800px;
}

#setup {
    width: 300px;
}

#setup input {
    width: 98%;
}

#setup .teams, #setup .winners {
    display: inline-block;
    width: 100%;
    padding: 10px 0px;
    font-weight: bold;
    text-align: center;
}

#setup .winners span {
    font-size: 24px;
}

#winner_show, #winner_show span {
    display: none;
}

#setup .controls {
    display: inline-block;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
}

#field {
    width: 1000px;
}
