{%extends 'game_replay.html'%}

{%block head%}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{static_url}}/replay.css" media="all" />
    <script type="text/javascript">
        //Save some constants for the game to use
        var DATA_URL = '{{data_url}}',
            MATCH_LIST_URL = '{{match_list_url}}';
    </script>
    <script type="text/javascript" src="{{static_url}}/replay.js"></script>
    <script type="text/javascript" src="{{static_url}}/replay_draw.js"></script>
{%endblock%}

{%block game_replay%}
    <div id="setup">
        <span class="teams">
            <span class="team_name team_1">?</span><br/>
            vs.<br/>
            <span class="team_name team_2">?</span><br/>
        </span>
        <hr/>

        <span class="winners">
            <span id="winner_wait">
                Wait...
            </span>
            <span id="winner_show">
                <span id="winner_none">No winner</span>
                <span id="winner_team_1">Team 1 wins!</span>
                <span id="winner_team_2">Team 2 wins!</span>
                <span id="winner_draw">It's a draw</span>
            </span>
        </span>
        <hr/>

        <span class="interval">
            Interval: <span id="interval_display">100</span><br/>
            <input id="interval" type="range" min="0" max="200" step="5"/><br/>
        </span>
        <hr/>

        <span class="time">
            Time: <span id="tick_display">0</span> / <span id="tick_max_display">?</span><br/>
            <input id="tick" type="range" min="0" max="500" step="1"/><br/>
            <span class="controls">
                <button
                    id="step_left"
                    class="icon_large"
                    style="background-image: url('{{static_url}}/step_left.png');">
                </button>
                <button
                    id="reverse"
                    class="icon_large"
                    style="background-image: url('{{static_url}}/reverse.png');">
                </button>
                <button
                    id="pause"
                    class="icon_large"
                    style="background-image: url('{{static_url}}/pause.png');">
                </button>
                <button
                    id="forward"
                    class="icon_large"
                    style="background-image: url('{{static_url}}/forward.png');">
                </button>
                <button
                    id="step_right"
                    class="icon_large"
                    style="background-image: url('{{static_url}}/step_right.png');">
                </button>
            </span>
        </span>
        <hr/>

        <span class="team_stats team_1">
            1: <span class="team_name team_1">?</span><br/>
            <!--Team health-->
            <span class="team_health">
                <span class="pg_horz_outer">
                    <span class="pg_horz_inner"></span>
                </span>
            </span>
            <br/>

            <!--Player health-->
            <span class="pg_vert_header player_health player_0">
                0<br/>
                <span class="pg_vert_outer">
                    <span class="pg_vert_inner"></span>
                </span>
            </span>
            <span class="pg_vert_header player_health player_1">
                1<br/>
                <span class="pg_vert_outer">
                    <span class="pg_vert_inner"></span>
                </span>
            </span>
            <span class="pg_vert_header player_health player_2">
                2<br/>
                <span class="pg_vert_outer">
                    <span class="pg_vert_inner"></span>
                </span>
                </span>
            <span class="pg_vert_header player_health player_3">
                3<br/>
                <span class="pg_vert_outer">
                    <span class="pg_vert_inner"></span>
                </span>
            </span>
            <span class="pg_vert_header player_health player_4">
                4<br/>
                <span class="pg_vert_outer">
                    <span class="pg_vert_inner"></span>
                </span>
            </span>
        </span>
        <hr/>

        <span class="team_stats team_2">
            2: <span class="team_name team_2">?</span><br/>
            <!--Team health-->
            <span class="team_health">
                <span class="pg_horz_outer">
                    <span class="pg_horz_inner"></span>
                </span>
            </span>
            <br/>

            <!--Player health-->
            <span class="pg_vert_header player_health player_0">
                0<br/>
                <span class="pg_vert_outer">
                    <span class="pg_vert_inner"></span>
                </span>
            </span>
            <span class="pg_vert_header player_health player_1">
                1<br/>
                <span class="pg_vert_outer">
                    <span class="pg_vert_inner"></span>
                </span>
            </span>
            <span class="pg_vert_header player_health player_2">
                2<br/>
                <span class="pg_vert_outer">
                    <span class="pg_vert_inner"></span>
                </span>
                </span>
            <span class="pg_vert_header player_health player_3">
                3<br/>
                <span class="pg_vert_outer">
                    <span class="pg_vert_inner"></span>
                </span>
            </span>
            <span class="pg_vert_header player_health player_4">
                4<br/>
                <span class="pg_vert_outer">
                    <span class="pg_vert_inner"></span>
                </span>
            </span>
        </span>
        <hr/>
    </div>
    <canvas id="field" width="1000" height="700">
    </canvas>
    <div id="loading">
    </div>
{%endblock%}
