#loading {
    background-color: rgba(200, 200, 200, 0.5);
    background-image: url('loading.gif');
    background-repeat: no-repeat;
    background-position: 50%;
    position: fixed;
    height: 100%;
    width: 100%;
}

#setup, #field {
    border: 1px solid black;
    float: left;
    height: 800px;
}

#setup {
    width: 200px;
}

#field {
    width: 1000px;
}

#setup input {
    width: 98%;
}
