{%extends 'game_replay.html'%}

{%block head%}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{static_url}}/replay.css" media="all" />
    <script type="text/javascript">
        //Save some constants for the game to use
        var DATA_URL = '{{data_url}}',
            MATCH_LIST_URL = '{{match_list_url}}';
    </script>
    <script type="text/javascript" src="{{static_url}}/replay.js"></script>
    <script type="text/javascript" src="{{static_url}}/replay_draw.js"></script>
{%endblock%}

{%block game_replay%}
    <div id="setup">
        <span class="teams">
            <span id="team_1">?</span><br/>
            vs.<br/>
            <span id="team_2">?</span><br/>
        </span>
        <hr/>

        <span class="winners">
            <span id="winner_wait">
                Wait...
            </span>
            <span id="winner_show">
                <span id="winner_none">No winners</span>
                <span id="winner_team_1">Team 1 wins!</span>
                <span id="winner_team_2">Team 2 wins!</span>
                <span id="winner_draw">It's a draw</span>
            </span>
        </span>
        <hr/>

        <span class="interval">
            Interval: <span id="interval_display">100</span><br/>
            <input id="interval" type="range" min="0" max="200" step="5"/><br/>
        </span>
        <hr/>

        <span class="time">
            Time: <span id="tick_display">0</span> / <span id="tick_max_display">?</span><br/>
            <input id="tick" type="range" min="0" max="500" step="1"/><br/>
            <span class="controls">
                <button
                    id="step_left"
                    class="icon_large"
                    style="background-image: url('{{static_url}}/step_left.png');">
                </button>
                <button
                    id="reverse"
                    class="icon_large"
                    style="background-image: url('{{static_url}}/reverse.png');">
                </button>
                <button
                    id="pause"
                    class="icon_large"
                    style="background-image: url('{{static_url}}/pause.png');">
                </button>
                <button
                    id="forward"
                    class="icon_large"
                    style="background-image: url('{{static_url}}/forward.png');">
                </button>
                <button
                    id="step_right"
                    class="icon_large"
                    style="background-image: url('{{static_url}}/step_right.png');">
                </button>
            </span>
        </span>
    </div>
    <canvas id="field" width="1000" height="700">
    </canvas>
    <div id="loading">
    </div>
{%endblock%}
